body {
	background-color: #fff;
font-family: 'Roboto', sans-serif;

font-weight: 100;
}

html {
	position: relative;
    min-height: 100%;
}

h1 {
	color: #c55254;
	text-align: center;
	font-size: 35pt;
	padding-top: 10px;
		font-family: 'Noto Serif', serif;
}
h2 {
	color: white;
	text-align: center;
	font-size: 20pt;
	padding-top: 10px;
		font-family: 'Noto Serif', serif;
}

h3 {
	font-family: 'Noto Serif', serif;
	font-size: 14pt;
}

.container {
 width: 65%;
 margin: 0 auto;

}

.other-container {
	 padding-bottom: 0px;
	 padding-top: 20px;
}

.textbox {
	background: #c55254;
	width: auto;
	padding: 90px;
	color: white;
	font-size: 16pt;
	text-align: center;
}

.text {
	text-align: center;
	padding: 90px;
	font-size: 16pt;
	color: #c55254;
	background: white;
	width:auto;
}
.imgbox {
	margin: 0 auto;
padding-top: 20px;
}
.img {
	width: 200px;
	height: 200px;
	padding-top: 5px;
	-webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
    object-fit: cover;
}
.img:hover {
	-webkit-filter: grayscale(0%); 
    filter: grayscale(0%);
}

.twi-button {
	padding: 20px;
	border: 1px grey solid;
	color: #c55254;
	font-size: 16pt;
	margin: 0 auto;
}
.twi-button:hover {
	background: #c55254;
	color: white;
}
p {
	background-color: #c55254;
padding: 50px;
border-radius: 25px;
	color: #fff;
		font-size: 14pt;
	text-align: left;
	border-top: 1px solid #ebc9c9;
	margin-bottom: 70px;
}


a {
	color: white;
	text-decoration: none;

}
a:hover {
	color: pink;
	text-decoration: none;
}
.social {
	padding: 10px;
}

@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

body { margin: 0; } 
div#slider { overflow: hidden;  }

div#slider figure img { width: 20%; float: left;}
div#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 20s slidy infinite; 
}


