<!doctype html>
<title>#shefcodefirst</title> 

<meta charset=utf-8> 
<link rel="shortcut icon" type="image/png" href="/favicon.ico"/>
<link rel="shortcut icon" type="image/png" href="/favicon.ico"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<link href="https://fonts.googleapis.com/css?family=Noto+Serif|Roboto" rel="stylesheet">
<script src="https://use.fontawesome.com/e5bf3cfa9c.js"></script>


<body>
<center>
<img src="http://i68.tinypic.com/148gqir.png" width="60%" >
</center>

<base href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/">
<div id="slider">
<figure>
<img src="http://i66.tinypic.com/24ng11f.jpg" alt>
<img src="http://i66.tinypic.com/6zsydz.jpg" alt>
<img src="http://i67.tinypic.com/2vs3rzl.jpg" alt>
<img src="http://i65.tinypic.com/65bati.jpg" alt>
</figure>
</div>

<div class="textbox fadeInDown" >
Throughout the Code First Community course here at the University of Sheffield, everyone involved has been sharing their experiences through the #shefcodefirst on social media. We have created a web-based app that displays all of these tweets to reflect on the great time we've had here at Sheffield!
<br>
<br>
Proudly brought to you by CF:G Ambassadors <a href="http://twitter.com/sophiakessler3">Sophia Kessler</a> & <a href="http://twitter.com/paulienuh/" >Pauline P. Narvas </a><small><em>(team pythonistas)</em></small>
</div>


<h1 class="fadeInDown"> The #shefcodefirst experience: </h1>
<br>
<br>
<div class="container" >
<div class="row" >
{% for tweet in tweets %}
<div class="col-lg-3 col-sm-3" >

<img src=" {{ tweet.user.profile_image_url }} " class="img-rounded"> <br> <h3>{{ tweet.user.screen_name }}</h3> <br>
</div>
<div class="col-lg-8 col-sm-9" >
<p>{{ tweet.text }}</p>
</div>
{% endfor %}
</div>
<center>
<a href="https://twitter.com/search?q=%23shefcodefirst&src=savs" class="twi-button">Read more </a>
</center>
</div>
<br><br>



<div class="other-container" >

<div class="textbox" >
Our 8-weeks of coding adventures couldn't have been achieved without our talented instructors:<br><br>


<div class="imgbox" >
<center>

<a href="http://twitter.com/TejayWhite" >

<img src="https://pbs.twimg.com/profile_images/783071879150075904/tGY48CcL.jpg" class="img"  />
</a>

<a href="http://twitter.com/CaffinatedDave" >
<img src="https://pbs.twimg.com/profile_images/715062411666059266/wuW8r-dW.jpg" class="img"></a>

<a href="http://twitter.com/chrisbingham" >
<img src="https://pbs.twimg.com/profile_images/52175940/allatok_07.jpg" class="img"></a>
<a href="http://twitter.com/ixek" >
<img src="https://pbs.twimg.com/profile_images/1663595779/392834_10150491475365799_712385798_10435004_753661539_n.jpg" class="img"></a>
<a href="http://twitter.com/MrDarrenV" >
<img src="https://pbs.twimg.com/profile_images/1565687831/304075_239094189469946_100001080997809_656986_285352273_n.jpg" class="img"></a></center></div>
<br>
<br>
<center>Tejay White, Dave Chaston, Chris Bingham, Tania Allard, Darren Vong</center>
<br><br>
Tell everyone else how awesome they are - nominate them as your <a href="https://codefirstgirls.typeform.com/to/zVjXUU" >instructor of the month!</a>
</div>

<div class="text" >
... we wouldn't have been constantly left inspired without our amazing speakers who all taught us how important it is to diversify STEM: 
<br>
</div>
<br>
<center>
<a href="http://twitter.com/_mattburman" >
<img src="https://pbs.twimg.com/profile_images/805125683462766592/QuaAS2Qp.jpg" class="img"></a>

<a href="http://twitter.com/ApptAnna" >
<img src="https://pbs.twimg.com/profile_images/775282616639643648/hJ4wXZGX.jpg" class="img"></a>
<a href="http://twitter.com/grapleshark">
<img src="https://pbs.twimg.com/profile_images/708979782999003136/cNpPug7M.jpg" class="img"></a>
<a href="http://twitter.com/Kisha_Bradley" >
<img src="https://pbs.twimg.com/profile_images/713041318826668036/DPlAsrQT.jpg" class="img"></a></center>
<div class="text" >
Matt from <em>HackSheffield</em>, Anna from <em>Appt</em>, Tanja from <em>Leeds Beckett University</em>, Kisha from <em>Bright Toys</em>

</div>


<div class="textbox" >

	And of course, everyone who applied and partcipated. Y'all rock for proving that coding isn't just a boys' club! 
<br>
<h2> More #shefcodefirst: </h2>
<br>
<a href="https://twitter.com/search?q=%23shefcodefirst&src=savshttps://www.facebook.com/search/top/?q=%23shefcodefirst"><i class="fa fa-twitter social fa-2x" aria-hidden="true"></i></a> <a href="https://www.instagram.com/explore/tags/shefcodefirst/"> <i class="fa fa-instagram fa-2x social" aria-hidden="true"></i></a>
<a href="https://www.linkedin.com/search/results/content/?keywords=%23shefcodefirst&origin=SWITCH_SEARCH_VERTICAL" >
<i class="fa fa-linkedin fa-2x social" aria-hidden="true"></i></a>
<a href="https://www.facebook.com/search/top/?q=%23shefcodefirst"><i class="fa fa-facebook-square fa-2x social" aria-hidden="true"></i></a>
</div>
</div>
</body>
</html>
